/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/

body {
  margin: 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #1d3557;
  line-height: 25px;
}

.hero {
  color: #ffffff;
  height: 400px;
  background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/21/e5/e5/8b/alexandra-palace.jpg?w=1400&h=-1&s=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
}

#title {
  background: #1d3557;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 80px 0 0 0;
}

#intro {
  opacity: 0.8;
  color: #333;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
  width: 800px;
  line-height: 35px;
}

#activities {
  background-color: #f1faee;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#images {
  width: 950px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#activities img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.activity {
  width: 250px;
  font-weight: 500;
}

.card {
  width: 450px;
  margin: 80px auto;
  padding: 20px;
  display: flex;
  background-color: #a8dadc;
  color: #2b2839;
  border-bottom: 6px solid #1d3557;
  border-radius: 10px;
  box-sizing: border-box;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 20px;
}

.business-card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}

h2, p, h3 {
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  margin: 10px 0;
}

h3 {
  font-size: 1.2rem;
}

.border-blue {
  border: 1px dotted #1d3557;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#haringey {
  background: #1d3557;
  border-radius: 5px;
  padding: 5px;
}

@media screen and (max-width: 980px) {
  * {
    font-size: 14px !important;
  }
  #intro {
    width: unset;
    opacity: 0.8;
  }
  #images {
    width: unset;
    flex-direction: column;
  }
  .card {
    width: unset;
    margin: 10px;
  }
}
